

body {
  font-size: 16px;
  color: white;
  background-color: #0099cc;
  font-family: 'Oxygen', sans-serif;
  
}

.item{
  font-size: 30px;
  height: 10px !important;

}
.categ{
  background-color:#4dff4d;

}

/*.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
/*.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
*/
h1{
  margin-bottom: 50;
  text-align: center;
  font-family: cursive;
}
/*h2{

color: black;
  text-align: center;
  font-family: cursive;
}

/** HEADER **/
#header-nav {
  background-color: #66ff99;
  border-radius: 0px;
  }
  
.border{

border-bottom: 2px solid black;


}
.back{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.back1{
  background-color:#4db8ff;
  margin: 15px;
  
}

  .back2{
  background-color: #4db8ff;
  margin: 15px;
  
}
  .back3{
  background-color: #4db8ff;
  margin: 15px;
  

}

h2{
  
  text-align: center;
  background-color: gray;
  color: black;
  
}

 p {
  
 
 margin-top: 50px;
  padding: 15px;
  margin: 20px;
  z-index: 1;
}
.navbar-toggle
{
  float: right !important;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #660066;
  font-size: 1.5em;

  text-transform: uppercase;
  font-weight: bolder;
  
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #660066;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}
